<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.oindexter" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".helpers.OindexterApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.LauncherActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.HomeActivity"
            android:label="@string/title_activity_home" >
        </activity>
        <activity
            android:name=".ui.RegistrationActivity"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".ui.ReportActivity"
            android:label="@string/title_activity_report" >
        </activity>
        <activity
            android:name=".ui.EnterTagActivity"
            android:label="@string/title_activity_enter_tag" >
        </activity>
        <activity
            android:name=".ui.ResultActivity"
            android:label="@string/title_activity_result" >
        </activity>
        <activity
            android:name=".ui.SpeechResultActivity"
            android:label="@string/title_activity_speech_result" >
        </activity>
    </application>

</manifest>
